html
  head
    meta(charset=`utf-8`)
    meta(name=`viewport`, content=`initial-scale=1, user-scalable=no`)
    title Game List - Trash Kit
    style
      | html {
      |   background: black;
      | }
      |
      | * {
      |   color: white;
      |   font-family: sans-serif;
      | }
  body
    h1 Trash Kit
    h2 Game List
    if games.length
      ul
        each game in games
          li
            a(href=game)= game
    else
      p You do not have any games.
